@import "@fontsource/plus-jakarta-sans/latin.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Plus Jakarta Sans", sans-serif;
}

.custom::-webkit-scrollbar-button {
  display: none !important;
}

/* Optional: customize scrollbar */
.custom::-webkit-scrollbar {
  width: 8px;
}
